@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Souped-Up is a meal planning app created as part of a Software Development BootCamp with the ElevenFifty Academy. The inspiration for this app came from the daily struggle of answering "What's for dinner?".

    This App allows users to create a repository for their own meals including dishes for the meal(entree, sidedish, dessert, etc) as well as the ingredients necessary.To make this app more customizable, users are able to create their own categories for Meals and Dishes.
</p>
